body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #efefef;
  padding: 0;
}
footer {
  text-align: center;
  margin-top: 10px;
}

.cards-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.card {
  background-color: #f0f0f0;
  padding: 30px;
  text-align: center;
  font-size: xxx-large;
  color: #ffffff;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #72c3dc;
  color: aliceblue;
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 4px #2b8ead;
  width: 125px;
}

@media screen and (max-width: 600px) {
  .cards-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .cards-container {
    grid-template-columns: auto;
  }
  .card {
    margin: 4px;
    padding: 8px;
    text-align: center;
    font-size: 20px;
  }
  .button-container {
    order: -1;
    padding: 10px;
    display: flex;
  }
  body,
  html {
    background-color: #ffffff;
  }
}
